@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  overscroll-behavior: auto;
  box-sizing: border-box;
  /* background-color: #000814; */
}

.bghome {
  background-image: url("./assets//Images//bghome.svg");
  background-color: white;
  width: 100%;
}

.active {
  color: #9e8006;
}
