@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap");
.crimson {
  font-family: "Crimson Text", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.montserrat {
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.poppins {
  font-family: "Poppins", sans-serif;
}

html,
body {
  /* overflow-x: hidden; */
  overscroll-behavior: auto;
  background-color: #000814;
}
